<h1>IngredientRecipes#destroy</h1>
<p>Find me in app/views/ingredient_recipes/destroy.html.erb</p>

<%= @recipe.id %> <%= @recipe.name %>
<%= @ingredient_recipe.ingredient_id %> <%= @ingredient_recipe.recipe_id %>
