
<h1>Recipes you can make </h1>
   <% x =0 %>
<% for recipe in @recipes %>

    <span class="content"><%=x = x+1 %>. <%= link_to recipe.name,recipe, :class => 'btn' %>

          </span>
    <br>

<% end %>