<footer class="footer">
  <small>
    ReciMe by Sean Freiburg, Brian Hauger, Cesar "Vinny" Martinez, and Kenny Nsofor
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to 'Report', '/report' %></li>
      <li><%= link_to "Trololo", '/trololo' %></li>
    </ul>
  </nav>
</footer>